.group-header {
    background-color: white;
    box-shadow: 4px 0px 4px 0px #ccc;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 50px;
}
.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}
 .logo-image{
    width: 100px;
    height: auto;
    cursor: pointer
}

.navigate ul {
    flex: 10;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 48px
}
.navigate ul li {
    cursor: pointer;
    font-weight: bold;
}
.navigate ul li:hover {
    color: blue
}
.right-header{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-weight: bold;
}

.right-header button {
    border: 1px solid white;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn-login{
    background-color: rgb(71, 114, 255);
    color: white
}
.btn-login:hover {
    background-color: transparent;
    border: 1px solid rgb(71, 114, 255) !important;
    color: rgb(71, 114, 255);
}

.btn-register {
    background-color: rgb(241, 81, 81);
    color: white;
}
.btn-register:hover {
    background-color: transparent;
    border: 1px solid rgb(241, 81, 81) !important;
    color: rgb(241, 81, 81);
}